@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.page {
    background-image: url(https://phonoteka.org/uploads/posts/2021-03/1616705966_20-p-kartinki-dlya-fona-saita-24.jpg);
    color: white;
    font-family: 'Open Sans', sans-serif;
    max-width: 1280px;
    margin: 20px auto;
}
section{
    margin: 100px auto 0 auto;
}
/*@media screen and (max-width: 768px) {*/
/*    section{*/
/*        margin-left: 70px;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 425px) {*/
/*    section{*/
/*        margin-left: 30px;*/
/*    }*/
/*}*/
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
@media screen and (max-width: 425px) {
    .header{
        flex-direction: column;
    }
}
.h1{
    text-align: center;
    margin-left: 300px;
}
@media screen and (max-width: 768px) {
    .h1{
        margin-left: 40px;
    }
}
@media screen and (max-width: 425px) {
    .h1{
        margin-left: auto;
        margin-right: auto;
    }
}
.time{
    width: 150px;
    display: block;
    margin: 0 auto 0 auto;
}
@media screen and (max-width: 425px) {
    .time{
        width: 100px;
    }
}
.menu{
    align-self: center;
    justify-self: right;
    margin: 0 0 0 30px;
    float: right;
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-around;
}
.url{
    text-decoration: none;
    color: white;
}
.table__img {
    height: 50px;
}
.about-me{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 1fr 3fr;
    gap: 15px;
    grid-template-areas:
    "photo name name"
    "photo about feedback"
;
}
@media screen and (max-width: 425px) {
    .about-me{
        margin: 30px 10px 0 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px max-content 150px;
        grid-template-areas:
        "name name"
        "photo photo"
        "about feedback"
    ;
    }
}
.img {
    grid-area: photo;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    width: 80%;
    border: 3px blue dotted;
}
.img:hover {
    border: 3px yellow dotted;
}
.name {
    font-size: 30px;
    grid-area: name;
}
.name:hover {
    border: 3px yellow dotted;
}
.about {
    grid-area: about;
}
.about:hover {
    border: 3px yellow dotted;
}
.feedback {
    grid-area: feedback;
}
.feedback:hover {
    border: 3px yellow dotted;
}
.name, .about, .feedback {
    border: 3px blue dotted;
    padding: 30px 0;
    margin: 0;
    text-align: center;
}

.film_title{
    text-align: center;
    font-size: 48px;
}
@media screen and (max-width: 425px) {
    .film_title{
        font-size: 24px;
    }
}
.table__fincher-films{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 100px auto 20px auto;
}
.film{
    height: 500px;
    width: 320px;
    box-shadow: 10px 5px 5px black;
    margin: 0 auto 0 auto;
}
@media screen and (max-width: 425px){
    .film{
        width: 300px;
    }
}
.film__img{
    display: block;
    margin: 5px auto 0 auto;
    width: 250px;
    height: 375px;
    border-radius: 5px;
    align-self: center;
}
.film__paragraph{
    text-align: center;
    width: 300px;
    margin: 10px auto 0 auto;
}
.table__richie-films{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    justify-items: center;
}
@media screen and (max-width: 600px){
.table__richie-films{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}
}
.film_richie{
    width: 100%;
}
